// Sizes
// -------------------- 

$mainContent: 1200px;
$width: 95%;
// $primary-width: 75%;
// $secondary-width: 25%;


// Website Colors
// --------------------

$almostBlack: #222;
$mainColor: black;


// Color Usage
// ------------

$backgroundcolor: $white;
$text: $almostBlack;
$linkcolor: $color1;
$hovercolor: $color2;


// Fonts
// -----
$bodyFont: 'Open Sans', sans-serif;
$headingFont: $bodyFont;


// Borders
// -------
$border: 1px solid black;
